name: Deploy Next.js App

on:
  push:
    branches:
      - main   # जब main branch पर push होगा तब deploy होगा

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Verify working directory
        run: |
          pwd
          ls -la
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies and build
        run: |
          npm install
          npm run build
          npm run export

      - name: Deploy to Server via SSH
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "out/*"
          target: ${{ secrets.SERVER_PATH }}

      - name: Restart App (optional)
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.SERVER_PATH }}
            pm2 restart all || pm2 start npm --name "nextjs-app" -- start
